stages:
  - test
  - build
  - containerize
  - pre-release
  - release

test:
  variables:
    GIT_DEPTH: 999
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:6.0
  script:
    - dotnet restore
    - dotnet test
    
build:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: never
  parallel:
    matrix:
      - { BUILD_ARCH: "win-x64" }
      - { BUILD_ARCH: "linux-x64" }
      - { BUILD_ARCH: "linux-musl-x64" }
  image: mcr.microsoft.com/dotnet/sdk:6.0
  script:
    - dotnet restore cc-gen/cc-gen.csproj
    - dotnet publish cc-gen/cc-gen.csproj -c Release --self-contained true -r ${BUILD_ARCH} -v m --version-suffix ${CI_COMMIT_TAG} -o release/${BUILD_ARCH}
  artifacts:
    paths:
      - release/
    expire_in: 1 day

containerize:
  stage: containerize
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: never
  image: registry.gitlab.com/jitesoft/dockerfiles/misc:latest
  script:
    - docker buildx build --platform linux/amd64 --push -t ghcr.io/jitesoft/cc-gen-sharp -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG} --build-arg "BUILD_TIME=$(date -Iseconds)" --build-arg "VERSION=${CI_COMMIT_TAG}" -f cc-gen/Dockerfile .
  tags:
    - protected
    - buildx

create_release:
  variables:
    GIT_DEPTH: 999
  stage: pre-release
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: never
  script:
    - "cc-gen gen --latest > CHANGELOG.md"
  artifacts:
    paths:
      - CHANGELOG.md
    when: on_success
    expire_in: 1 hours
  tags:
    - protected

release:
  needs:
    - job: create_release
      artifacts: true
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: never
  script:
    - echo "Creating release for ${CI_COMMIT_TAG}"
    - release-cli create --name "${CI_COMMIT_TAG}" --description "$(cat CHANGELOG.md)" --tag-name "${CI_COMMIT_TAG}"
  tags:
    - protected
